<div class="container membership mat-elevation-z8">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-12 text-center">
            <h1 class="heading">Our Membership Plans</h1>
        </div>
    </div>
    <div class="row justify-content-between text-center mb-3">
        <div class="col-lg-3 col-xs-12 mat-elevation-z8 mr-3 mb-3 ml-3 bronze">
            <div class="row">
                <div class="col-12"><h3>Bronze</h3>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <h4>Bronze Members can unlock full details of upto 3 User Profiles.</h4>
                    <h5>Price: Rs. 1100/-</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-12 mat-elevation-z8 ml-3 mb-3 mr-3 silver">
            <div class="row">
                <div class="col-12"><h3>Silver</h3>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <h4>Silver Members can unlock full details of upto 10 User Profiles.</h4>
                    <h5>Price: Rs. 2100/-</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-12 mat-elevation-z8 ml-3 mb-3 mr-3 gold">
            <div class="row">
                <div class="col-12"><h3>Gold</h3>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <h4>Gold Members need not unlock, they can see full details of all User Profiles.</h4>
                    <h5>Price: Rs. 3100/-</h5>
                </div>
            </div>
        </div>
    </div>
</div>